<p>hello works!</p>
<h1 [style.color]="color">{{msg}}</h1>
<!-- <button class="btn btn-primary"(click)="changeColor()" [disabled]="isDisabled">change-color</button>
  -->
<img [src]="source">
 <button class="btn btn-primary" [disabled]="isDisabled">change-color</button> 
<!-- <h1 [style.font-size.px]="fontSize">{{msg}}</h1>
<table [style.border]="borderStyle">
    <tr>
        <td>Name</td>
        <td [style.color]="textColor"[style.border]="borderStyle">Swapna Motupally</td>
    </tr>
</table> -->
