<p>structural works!</p>
<!-- <button 
    class="btn btn-primary"
 (click)="checkLogin()">
    {{isLoggedIn?"Logout":"Login"}}

</button> -->

<h2>structural directives</h2>
<!-- <hr>

    @if(isLoggedIn){
    <h3>User Successfully Loggedin</h3>
    <h3>Welcome User</h3>
    }
    @else{
        <h3>Please Login</h3>
        <h3>Login is Mandatory</h3>
    }

<hr> -->

<!-- <h1>Role:{{role}}</h1>
<button class="btn btn-primary" (click)="changeRole('admin')">Admin</button>
<button class="btn btn-secondary"(click)="changeRole('customer')">Customer</button>
<button class="btn btn-danger"(click)="changeRole('manager')">Manager</button>
<button class="btn btn-success"(click)="changeRole('trainer')">Trainer</button>

@switch (role) {

    @case ('admin') {
        <h3>Admin Dashboard</h3>
    }
    @case ('customer') {
        <h3>Customer Dashboard</h3>
    }
    @case ('manager') {
        <h3>Manager Dashboard</h3>
    }
    @case ('trainer') {
        <h3>Trainer Dashboard</h3>
    }
    @default {
        <h3>Student Dashboard</h3>
    } 

}-->

<h1>Student Data</h1>
<table>
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Course</th>
    </thead>
    @for (s of students; track s.id) {
    <tr>
            <td>{{s.id}}</td>
            <td>{{s.name}}</td>
            <td>{{s.course}}</td>
    </tr>
}
</table>